/* Universal selector styling applied to whole document */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}
/* Variables for repetative colors */
:root {
  --label-background: #31343d;
  --title-background: #92cccd;
  --article-color: #445876;
  --hyper-border-color: #92cccd;
}
/* Styling header and its elements */
header {
  background-color: var(--label-background);
  width: 100%;
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
.authorname {
  background-color: var(--title-background);
  color: #31343d;
  padding-left: 30px;
}
.topnav {
  display: inline-block;
  align-self: center;
  margin-right: 50px;
}
.topnav ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.topnav ul li a {
  color: var(--hyper-border-color);
  text-decoration: none;
  border-bottom: 2px solid #92cccd;
  font-weight: 600;
}
/* Setting background image and styling banner */
.banner {
  background-image: url("../images/banner.jpg");
  object-fit: cover;
  position: relative;
  height: 200px;
}
.banner h2 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: var(--label-background);
  color: #92cccd;
  padding: 10px;
}
/* Styling main content using grid */
.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 10px;
  padding: 20px 30px;
  column-gap: 20px;
  row-gap: 40px;
}
#about,
#work,
#contact {
  border-right: solid 2px black;
  font-size: 2.5em;
  text-align: right;
  padding-right: 15px;
  color: var(--article-color);
  font-weight: 600;
}
/* styling workdetails using grid */
.workdetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 15px;
}

#project1 {
  grid-column: 1/-1;
  grid-row: 1/3;
}
.projectcontainer {
  justify-self: stretch;
  align-self: stretch;
  position: relative;
}

.projectcontainer .image1 {
  width: 100%;
  height: 100%;
}
/* Highlighting the images using box-shadow */
.projectcontainer:hover {
  box-shadow: inset 0 0 8px blueviolet, 0 0 8px blueviolet;
}
.projectdetails {
  position: absolute;
  background-color: var(--title-background);
  bottom: 2rem;
  padding: 5px 15px;
}
/* styling contact information using flex */
.contactdetails {
  display: inline-block;
  align-self: center;
}
.contactdetails ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
}
.contactdetails ul li a {
  color: var(--article-color);
  text-decoration: none;
  border-bottom: 2px solid var(--hyper-border-color);
  font-weight: 600;
}
footer {
  background-color: var(--label-background);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #92cccd;
}
/* set responsive to the page */
@media only screen and (max-width: 780px) {
  .topnav ul {
    display: flex;
    flex-direction: column;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .workdetails {
    grid-template-columns: 1fr;
  }
  .contactdetails ul {
    flex-direction: column;
  }
}
